@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Helvetica, sans-serif;
}

body {
	background: #d82148;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #151d3b;
	height: clamp(100px, 10vh, 5rem);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 7px 5px rgb(31, 31, 31);
	width: 100vw;
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: max(5vh) max(10vw);
}

.add {
	width: clamp(150px, 5vw, 200px);
	height: clamp(50px, 5vh, 100px);
	background-color: #6ebf8b;
	border: none;
	font-size: clamp(1rem, 2vw, 1.3rem);
	border-radius: 8px;
	font-weight: 800;
	cursor: pointer;
	color: whitesmoke;
	box-shadow: 0px 0px 5px black;
	transition: 0.2s;
}

.add:hover {
	transform: scale(1.03);
	background-color: #dadbbd;
	color: #151d3b;
}

.add:active {
	transform: scale(1);
	background-color: #bbbba3;
}

.book-holder {
	width: 100%;
	height: 70vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40%, 350px));
	grid-template-rows: repeat(auto-fit, minmax(30%, 200px));
	grid-gap: 10px;
	margin-top: min(2rem);
	overflow: auto;
	justify-content: center;
}

.book-card {
	border-radius: 8px;
	background-color: #f3f0e9;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px max(15px);
	box-shadow: 3px 3px 5px black;
	gap: 1rem;
	position: relative;
}

.book-card h2 {
	word-wrap: break-word;
	max-width: 80%;
	text-align: center;
	max-height: 30%;
	overflow: auto;
}

.book-card strong {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.book-card input {
	display: none;
}

.book-card img {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.book-card img:hover {
	transform: scale(1.1, 1.1);
}

.book-card img:active {
	transform: scale(1, 1);
}

.toggle {
	display: flex;
	flex-direction: row-reverse;
	gap: 2ch;
}

.toggle label {
	width: 50px;
	height: 25px;
	background-color: #d82148;
	border-radius: 15px;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 3px black;
	transition: 0.2s;
}

.toggle label::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #d82148;
	border: 2px solid white;
	border-radius: 50%;
	transition: 0.2s;
	box-shadow: 0px 0px 5px black;
	cursor: pointer;
}

.toggle input:checked ~ label::before {
	transform: translateX(100%);
	background-color: #6ebf8b;
}

.toggle input:checked ~ label {
	background-color: #6ebf8b;
}

.toggle p {
	margin: 0px 10px;
}

.toggle p::before {
	content: "Not read";
}

.toggle input:checked ~ p::before {
	content: "Completed!";
}

.info {
	display: block;
	position: fixed;
	background-color: #dadbbd;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 30px;
	border-radius: 10px;
	z-index: 5;
	box-shadow: 10px 10px 5px #444444;
	font-weight: bold;
}

.info form {
	display: flex;
	flex-direction: column;
	gap: 1ch;
}

form input {
	border: none;
	border-radius: 10px;
	box-shadow: 3px 3px 5px black;
	padding: 5px;
	font-weight: bold;
}

#completed {
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: #6ebf8b;
}

form button {
	margin: 0px auto;
}

.overlay {
	visibility: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(80, 80, 80, 0.76);
	display: flex;
	align-items: center;
	justify-content: center;
}

label span {
	color: #d82148;
}

#close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

#close:active {
	transform: scale(0.8);
	filter: grayscale(60%);
}
